# #############################################################################
# PLUGIN Credentials
# 

# USERALE_USER_ID:
# Description: The user ID used for authentication with the UserALE service.
# Example: USERALE_USER_ID=your_user_id_here
USERALE_USER_ID=

# USERALE_PASSWORD:
# Description: The password used for authentication with the UserALE service.
# Example: USERALE_PASSWORD=your_password_here
USERALE_PASSWORD=

# USERALE_ENDPOINT:
# Description: The endpoint where UserALE logs are sent.
# Example: USERALE_ENDPOINT=https://example.com/userale-logs
USERALE_ENDPOINT=

# #############################################################################
# Bot configuration constants
# 

# TIMEOUT_S:
# Description: Default timeout in milliseconds to wait for various operations.
# Example: TIMEOUT_MS=5000
TIMEOUT_MS=5000

# CLOSEOUT_MS:
# Description: Time in milliseconds to wait for UserALE logs to flush before closing the browser context.
# Example: CLOSEOUT_MS=15000
CLOSEOUT_MS=15000

# PATH_TO_EXTENSION:
# Description: Absolute Path to the UserALE Web Extension.
# Example: PATH_TO_EXTENSION=/repos/flagon-useralejs/build/UserALEWebExtension
PATH_TO_EXTENSION=

# USER_DATA_DIR:
# Description: Directory where user data will be stored.
# Example: USER_DATA_DIR=/tmp/test-userale-plugin-data-dir
USER_DATA_DIR=/tmp/test-userale-plugin-data-dir